 <div class="footer-wrapper">
  <footer class="footer container">
    <div class="container">
      <div class="row">
        <div class="span12">
          <section class="footer-column-one">
            <h4 class="footer-title">Contact Me</h4>

            
            
              
             <%= form_tag(send_mail_path, remote: true, id: "contactForm", class: "form-horizontal text-left" ) do %>
             <fieldset>
                <label>Your Name</label>
                
                <%= text_field_tag 'name', nil, class: 'span12 contact-form', placeholder: 'Enter your name...' %>

                <label>Your email address</label>
              
                <%= email_field_tag 'email', nil, class: 'span12 contact-form', placeholder: 'Your Email Address' %>


                <label>Your phone number</label>
             
                 <%= text_field_tag 'phone', nil, class: 'span12 contact-form', placeholder: 'Your Phone Number' %>

                <label>Message</label>   
                <div class="text-left">
                  <br/>

                  <%= text_area_tag 'message', nil, class: 'span12 contact-form', rows: 4, placeholder: 'Your Message' %>
                   
                  <%= submit_tag 'Send Message', class: "btn btn-primary btn-large" %>

                </div>

              </fieldset>
            
            <% end %>
          </section>
        </div>
       
         
     
    <div id="contact" class="footer-credits">
      <div class="container">
        <div class="row">
          <div class="span8">
            <p class="text-left pull-left">
              &copy; 2015 Girl Butter | All Rights Reserved | 
            </p>
          </div>
         
        </div>
      </div>
    </div>
  </footer>
</div>